{% extends "osi_model/base_page.html" %}

{% block content %}

    <div class="w3-center">
        <h1 class="w3-xxxlarge w3-text-theme">Уровни модели OSI</h1>
    </div>
    <hr>
    <div class="w3-center">
        <li><button type="button" class="w3-button" style="width: 95%;font-size:30px;background-color:rgb(113, 215, 210);">Прикладной уровень</button></li>
    </div>
    <br>
    <div class="w3-center">
        <li><button type="button" class="w3-button" style="width: 95%;font-size:30px;background-color:rgb(170, 123, 189);">Уровень представления</button></li>
    </div>
    <br>
    <div class="w3-center">
        <li><button type="button" class="w3-button" style="width: 95%;font-size:30px;background-color:rgb(246, 211, 71);">Сеансовый уровень</button></li>
    </div>
    <br>
    <div class="w3-center">
        <li><button type="button" class="w3-button" style="width: 95%;font-size:30px;background-color:rgb(91, 199, 238);">Транспортный уровень</button></li>
    </div>
    <br>
    <div class="w3-center">
        <li><button type="button" class="w3-button" style="width: 95%;font-size:30px;background-color:rgb(237, 118, 71);">Сетевой уровень</button></li>
    </div>
    <br>
    <div class="w3-center">
        <li><button type="button" class="w3-button" style="width: 95%;font-size:30px;background-color:rgb(90, 180, 84);">Канальный уровень</button></li>
    </div>
    <br>
    <div class="w3-center">
        <li><button type="button" class="w3-button" style="width: 95%;font-size:30px;background-color:rgb(135, 114, 198);">Физический уровень</button></li>
    </div>

{% endblock %}