{% extends "osi_model/base_page.html" %}

{% block content %}
<header class="w3-container" style="background-color:rgb(90, 180, 84);">
    <h1>Канальный уровень</h2>
</header>
<div class="w3-padding w3-text-theme w3-white w3-display-container">
    <p>Канальный уровень обеспечивает надёжную передачу данных между двумя узлами в пределах одной локальной сети. 
        Этот уровень делится на два подуровня: LLC (Logical Link Control), который отвечает за управление потоком данных и обнаружение ошибок, 
        и MAC (Media Access Control), который управляет доступом к физической среде (например, используя алгоритм CSMA/CD в Ethernet). 
        Основные функции канального уровня включают формирование кадров (frames), физическую адресацию (MAC-адреса), 
        обнаружение и коррекцию ошибок с помощью контрольных сумм (CRC), а также управление доступом к среде передачи для предотвращения коллизий.</p>

    <p>Устройства, работающие на этом уровне, включают коммутаторы (свитчи) и мосты (бриджи), которые используют MAC-адреса для перенаправления 
        кадров между узлами сети. Канальный уровень играет критически важную роль в обеспечении безошибочной передачи данных внутри локальной сети, 
        прежде чем они будут переданы на сетевой уровень для маршрутизации между разными сетями.</p>
</div>
{% endblock %}