{% extends "osi_model/base_page.html" %}

{% block content %}
<header class="w3-container" style="background-color:rgb{{ layer.rgb }};">
    <h1>{{ layer.name }}</h2>
</header>
<div class="w3-padding w3-text-theme w3-white w3-display-container">
    {{ layer.description | safe }}
</div>

<div class="w3-center">
    <li><a type="button" href="{% url 'layers:test' layer.number %}" class="w3-button" style="width: 50%;font-size:25px;background-color:rgb{{ layer.rgb }};">Пройти тест по теме</a></li>
</div>

{% endblock %}