{% extends "osi_model/base_page.html" %}

{% block content %}
<header class="w3-container" style="background-color:rgb(135, 114, 198);">
    <h1>Физический уровень</h2>
</header>
<div class="w3-padding w3-text-theme w3-white w3-display-container">
    <p>Физический уровень является самым нижним уровнем модели OSI и отвечает за непосредственную передачу необработанных битовых потоков через физическую среду. 
        Этот уровень определяет электрические, механические и функциональные характеристики соединения между устройствами. 
        Основные функции включают в себя определение типа используемого кабеля (например, витая пара, коаксиальный кабель, оптоволокно), 
        уровни напряжения и частоты сигналов, способ кодирования данных (например, NRZ, Manchester), а также типы разъёмов и интерфейсов (RJ-45, USB, SFP). 
        Физический уровень также отвечает за синхронизацию битов и управление потоком данных на аппаратном уровне.</p>

    <p>Устройства, работающие на этом уровне, включают в себя повторители (репитеры), которые усиливают сигнал для преодоления затухания, 
        и концентраторы (хабы), которые просто передают полученный сигнал на все порты. 
        Важно отметить, что физический уровень не занимается обработкой данных или их адресацией — он лишь обеспечивает физическую 
        передачу битов от одного устройства к другому. 
        Без корректной работы этого уровня невозможна передача данных на более высоких уровнях модели OSI.</p>
</div>
{% endblock %}