{% extends "osi_model/base_page.html" %}

{% block content %}
<div class="w3-center">
    <h1 class="w3-xxxlarge w3-text-theme">Сетевая модель OSI</h1>
    <p class="w3-opacity">Из каких уровней состоит интернет и как устройства обмениваются данными</p>
</div>
<hr>

<div class="w3-padding w3-text-theme w3-white w3-display-container">
    <p><b>Модель OSI (Open System Interconnection)</b>, или эталонная модель взаимодействия открытых систем описывает, 
        как устройства в локальных и глобальных сетях обмениваются данными и что происходит с этими данными. 
        Её предложили в 1984 году инженеры из Международной организации по стандартизации (ISO), 
        которая работала над единым стандартом передачи данных по интернету.</p>
    
    <p>Сетевая модель OSI имеет семь уровней, иерархически расположенных от большего к меньшему. 
        Cамым верхним является седьмой (прикладной), а самым нижним — первый (физический). 
        В процессе передачи данных всегда участвуют устройство-отправитель, устройство-получатель, 
        а также сами данные, которые должны быть переданы и получены. 
        С точки зрения рядового пользователя задача элементарна — нужно взять и отправить эти данные. 
        Все, что происходит при отправке и приеме данных, детально описывает семиуровневая модель OSI.</p>
        
    <p>На седьмом уровне информация представляется в виде данных, на первом — в виде бит. 
        Процесс, когда информация отправляется и переходит из данных в биты, называется инкапсуляцией. 
        Обратный процесс, когда информация, полученная в битах на первом уровне, переходит в данные на седьмом, называется декапсуляцией.</p>

    <p><b>Этой сайт позволяет получить информацию о каждом уровне модели OSI и даёт возможность разобраться в нюансах работы сети интернет. </b></p>
    <h4></h4>
</div>
<div class="w3-center">
    <a class="w3-button w3-theme" style="width: 95%;" href="{% url 'layers:index' %}">Перейти к списку уровней</a>
</div>
<hr>
<div class="w3-center w3-text-theme">
    <h2>Что это даёт?</h2>
</div>

<div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:300px">
      <h3>💰 OSI — Твой Билет в Мир Высоких Зарплат</h3><br>
        <ul> 
            <li>Компании платят за тех, кто быстро чинит сеть и понимает, почему "всё тормозит".</li><br>
            <li>DevOps, Security Engineer, Cloud Architect — все эти роли требуют сетевой грамотности.</li><br>
            <li>Без OSI ты не пройдёшь техническое собеседование в топовых компаниях.</li><br>
        </ul>
      </div>
    </div>
    
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:300px">
      <h3>💪 OSI Даёт Тебе Контроль над Сетями</h3><br>
      <ul>
        <li>Преставь, бы видишь ошибку в логах и сразу понимаешь, это проблема с портами (L4).</li><br>
        <li>Ты можешь объяснить коллегам, почему VPN "падает", а не просто сказать <em>"ну, попробуй перезайти"</em>.</li><br>
        <li>Ты автоматически прокачиваешь скиллы в безопасности, DevOps и облачных технологиях.</li><br>
      </ul>
      </div>
    </div>
    
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:300px">
      <h3>🔝 OSI — Твой Способ Выделиться среди Новичков</h3><br>
      <ul>
        <li>Быстрый карьерный рост, потому что ты решаешь проблемы, которые другие не могут.</li><br>
        <li>Уважение коллег — ты станешь тем, к кому идут за советом.</li><br>
        <li>Возможность работать в крутых проектах (кибербезопасность, облака, высоконагруженные системы).</li><br>
      </ul>
      </div>
    </div>
</div>

{% endblock %}
